<div *ngIf="isLoading" class="loader animated fadeIn" [style.background-image]="'url('+pageInfo.loaderSource+')'">
  <div class="loader-text">
    <div class="text">Chargement...</div>
  </div>
</div>
<div *ngIf="pageInfo && !isLoading" class="content" [style.background-image]="'url('+pageInfo.imageSource+')'">
  <div class="layout animated fadeIn">
    <div class="top">
      <div class="title-block">
        <div class="title">{{pageInfo.title}}</div>
        <div class="page">Page {{pageInfo.pageNumber}}</div>
      </div>
      <div class="spacer"></div>
      <div class="next" (click)="goToPage(pageInfo.pageNumber +1)">
        <ng-container *ngIf="pageInfo.pageNumber !== 10;else home">
          <app-button></app-button>
          <div *ngIf="pageInfo.pageNumber === 1">Cliquez ici pour accéder à la page suivante</div>
        </ng-container>
        <ng-template #home>Accueil</ng-template>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="bottom">
      <div class="previous" (click)="goToPage(pageInfo.pageNumber -1)">
        <div *ngIf="pageInfo.pageNumber === 1">Cliquez ici pour accéder à la page précédente</div>
        <app-button class="back"></app-button>
      </div>
      <div class="stepper" [class.light]="pageInfo.light">
        <div class="step" [class.selected]="step === pageInfo.pageNumber" (click)="goToPage(step)" *ngFor="let step of steps">
          {{step}}
        </div>
      </div>
    </div>
  </div>
</div>