:host {
    display: block;
    height: 100%;
    canvas {
        display: block;
        width: 100%;
        height: 100%;
        transition: background 5s;
        &.dark {
            background: black;
        }
    }
}